<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <style>
        {{ include('admin/pdf/standard/css/pdf.css') }}
    </style>
</head>
<body>
{{ include ('admin/pdf/standard/block/top_societe_info_panel_pdf.html.twig') }}
<table>
    <tr>
        <td></td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" style="height: 30px;">
    <tr>
        <td style=" width:83%;  text-align: right; font-size: 20px; font-weight: bold ">Déclaration de valeur - {{ devisInfo.getDevisNumber() }}</td>
        <td style="width: 17%"></td>
    </tr>
    <tr>
        <td style=" width:83%;  text-align: right; font-weight: normal ">{{ societeInfo.codePostal }} {{ societeInfo.city }} {{ devisInfo.CreatedDate|date("m/d/Y") }}</td>
        <td style="width: 17%"></td>
    </tr>

</table>
<table>
    <tr>
        <td style="font-weight: normal; font-size: 11px">Conditions d'indemnisation des pertes et avaries
            A remplir quel que soit le mode de garantie choisie : Garantie de responsabilité contractuelle ou assurance dommage. Vous
            confiez le déménagement de votre mobilier à un professionnel. L'entreprise de déménagement sera responsable des dommages
            éventuels pouvant survenir au mobilier confié dans les conditions fixées à l'article 13 des conditions générales de vente. Par
            ailleurs, conformément à l'article 14 des conditions générales, l'indemnisation pour pertes et pour avaries est limitée à la valeur
            totale du mobilier et ce pour objet ou élément de mobilier à <b style="color: #9b0000">{{ devisInfo.parobjet }} €</b>.<br/><br/>
            Dans certains cas, la responsabilité de l'entreprise peut ne pas être retenue (accident ou incendie non responsable, vol avec
            agression, les cas de force majeurs) : vous pouvez alors estimer que la responsabilité contractuelle de l'entreprise est
            insuffisante et opter pour la souscription d'une assurance dommage, article 4 des conditions générales de vente qui sont tenues
            à votre disposition.

        </td>
    </tr>
    <tr>
        <td style="font-weight: normal; font-size: 11px"><b style="color: #9b0000">1 - VALEUR TOTALE DU MOBILIER</b><br/>
            Indiquer en lettre la valeur totale du mobilier y compris les objets ou éléments de mobilier individuellement en.<br/>
            <b style="color: #9b0000">2 - VALEUR INDIVIDUELLE</b><br/>
            Vous avez choisi la garantie de responsabilité contractuelle. Indiquer les objets ou éléments de mobilier dont la valeur individuelle
            est supérieur à l'indemnisation maximale par objet ou éléments de mobilier. Si vous avez opté pour l'assurance dommage, vous
            pouvez également lister et valoriser les objets ou éléments de votre choix.

        </td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
    </tr>
</table>
<table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 80%; text-align: center">Description de l'objet</td>
        <td style="width: 20%; text-align: center">Valeur (en €)</td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: center"></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
    <tr>
        <td style="width: 80%; text-align: right">TOTAL VALEUR <span>   </span></td>
        <td style="width: 20%; text-align: center"></td>
    </tr>
</table>
<table>
    <tr>
        <td style="font-weight: normal">Mode de garantie choisie:______________Garantie de responsabilité contractuelle______________Assurance
            dommage, cette déclaration de valeur est à retenir comme base de calcul du coût du mode de garantie choisie figurant
            au devis. Mr, Mme, Melle______________déclare que les valeurs énoncées ci-dessus sont sincères et réelles.

        </td>
    </tr>
</table>
<table>
    <tr>
        <td>Retourner un exemplaire daté et signé à l'entreprise, le deuxiàme est à conservè par le client</td>
    </tr>
</table>
<table>
    <tr>
        <td>Fait à: </td><td>le:</td><td>Signature du client</td>
    </tr>
</table>

</body>
</html>