<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <style>
        {{ include('admin/pdf/standard/css/pdf.css') }}
    </style>
</head>
<body>
{{ include ('admin/pdf/standard/block/top_societe_info_panel_pdf.html.twig') }}
<table style="height: 20px;">
    <tr>
        <td></td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td style=" width:83%;  text-align: right; font-size: 20px; font-weight: bold ">Devis - {{ devisInfo.getDevisNumber() }}</td>
        <td style="width: 17%"></td>
    </tr>
    <tr>
        <td style=" width:83%;  text-align: right; font-weight: normal ">{{ societeInfo.codePostal }} {{ societeInfo.city }} {{ devisInfo.CreatedDate|date("m/d/Y") }}</td>
        <td style="width: 17%"></td>
    </tr>

</table>
<table style="height: 20px;">
    <tr>
        <td></td>
    </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="tdline">
    <tr>
        <td style="font-size: 14px;">{{ devisInfo.nom }} {{ devisInfo.prenom }}</td>
    </tr>
    <tr>
        <td style="width: 75%">{{ devisInfo.adresse1  }}</td>
        <td style="width: 15%; text-align: right;"><strong style="color: #9b0000;">Prestation : </strong></td>
        <td style="width: 10%"> {{ devisInfo.prestation }}</td>
    </tr>
    <tr>
        <td style="width: 75%">{{ devisInfo.cp1 }} {{ devisInfo.ville1 }}
        </td>
        <td style="width: 15%; text-align: right;"><strong style="color: #9b0000;">Volume : </strong></td>
        <td style=" width: 10%"> {{ devisInfo.volume }} m&sup3;</td>
    </tr>
    <tr>
        <td style="width: 75%"><span style="color: #9b0000">{{ devisInfo.telephone }}</span>
        </td>
        <td style="width: 15%; text-align: right;"><strong style="color: #9b0000;">Distance : </strong></td>
        <td style="width: 10%"> {{ devisInfo.distance }} km</td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
    </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="tdline">
    <tr>
        <td style="width: 50%; font-size: 14px;">DÉPART</td>
        <td style="width: 50%; font-size: 14px;">ARRIVÉE</td>
    </tr>
    <tr>
        <td style="width: 12%"><span style="color: #9b0000">Date </span></td>
        <td style="width: 38%">{{ devisInfo.date1 }}</td>
        <td style="width: 12%"><span style="color: #9b0000">Date </span></td>
        <td style="width: 38%">{{ devisInfo.date2 }}</td>
    </tr>
    <tr>
        <td style="width: 12%"><span style="color: #9b0000">Adresse </span></td>
        <td style="width: 38%">{{ devisInfo.adresse1 }}</td>
        <td style="width: 12%"><span style="color: #9b0000">Adresse </span></td>
        <td style="width: 38%">{{ devisInfo.adresse2 }}</td>
    </tr>
    <tr>
        <td style="width: 12%"><span style="color: #9b0000">Ville </span></td>
        <td style="width: 38%">{{ devisInfo.cp1 }} {{ devisInfo.ville1 }}</td>
        <td style="width: 12%"><span style="color: #9b0000">Ville </span></td>
        <td style="width: 38%">{{ devisInfo.cp2 }} {{ devisInfo.ville2 }}</td>
    </tr>
    <tr>
        <td style="width: 12%"><span style="color: #9b0000">Etage </span></td>
        <td style="width: 38%">{{ devisInfo.etage1 }} </td>
        <td style="width: 12%"><span style="color: #9b0000">Etage </span></td>
        <td style="width: 38%">{{ devisInfo.etage2 }}</td>
    </tr>
    <tr>
        <td style="width: 12%"><span style="color: #9b0000">Ascenseur </span></td>
        <td style="width: 38%">{{ devisInfo.ascenseur1 }} </td>
        <td style="width: 12%"><span style="color: #9b0000">Ascenseur </span></td>
        <td style="width: 38%">{{ devisInfo.ascenseur2 }}</td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
    </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="tdline">
    <tr>
        <td style="font-size: 14px;">Prestation : <span style="color: #9b0000">{{ devisInfo.prestation }}</span></td>
    </tr>
    <tr>
        <td style="font-weight: normal"><br/><br/>
            Montage démontage, emballage et déballage meubles. Protection meubles, emballage matelas TV HI-FI.
            Penderie déménagement gratuit
            <br/>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
    </tr>
</table>


<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="font-size: 14px; width: 65% "><span style="color: #9b0000">OBSERVATIONS</span></td>
        <td style="font-size: 14px; width: 35% "><span style="color: #9b0000; text-align: right">ESTIMATION DE VOTRE COÛT</span></td>
    </tr>
    <tr>
        <td style="width: 65%;"><br/><br/>
            <table cellspacing="0" cellpadding="0" style="width: 90%"><tr><td>Assurance comprise, garantie dommage (franchise <span style="color: #9b0000">{{ devisInfo.franchise }} €</span>),
                        valeur globale de <span style="color: #9b0000">{{ devisInfo.valglobale }} €</span> et <span style="color: #9b0000">{{ devisInfo.parobjet }} €</span> par objet non listé.
                    </td></tr></table><br/>
           </td>
        <td style="width: 35%"><br/><br/>
            <table cellspacing="0" cellpadding="0" style="font-size: 15px" class="tdline">
                <tr>
                    <td style="width: 50%;font-size: 14px">Prix H.T</td>
                    <td style="width: 50%;font-size: 14px; text-align: right"> {{ devisInfo.prixht|number_format(2, ',', '') }} €</td>
                </tr>
                <tr>
                    <td style="width: 50%; font-weight: normal; font-size: 13px">TVA {{ devisInfo.tva }}%</td>
                    <td style="width: 50%; text-align: right; font-weight: normal; font-size: 13px">{% set pricetva =  (devisInfo.tva * devisInfo.prixht) / 100  %}{% set pricettc =  pricetva + devisInfo.prixht  %} {{ pricetva|number_format(2, ',', '') }} €</td>
                </tr>
                <tr>
                    <td style="width: 50%;color: #9b0000">Prix T.T.C.:</td>
                    <td style="width: 50%;color: #9b0000; text-align: right"> {{ pricettc|number_format(2, ',', '') }} €</td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="width: 65%;"><table cellspacing="0" cellpadding="0" style="width: 90%;"><tr><td>Tarif valable <span style="color: #9b0000">{{ devisInfo.valable }}</span> mois, les informations annoncées et sous
            des accés au départ et à l'arrivée. Ci-joint un exemplaire
            des conditions générales et un exemplaire de la
            déclaration de valeur.
            En accord avec les termes de ce présent devis et des
            conditions générales de vente ci-jointes, merci à nous
            retourner daté et signé accompagnés du chèque
                        de l'acompte correspondant <span style="color: #9b0000">{{ devisInfo.acompte }}%</span> à la commande.
                    </td></tr></table><br/>

        </td>
        <td style="width: 35%; text-align: right"><br/><br/>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td>{{ devisInfo.acompte }}% Acompte de à la commande</td>
                </tr>
                <tr>
                    <td style="color: #9b0000; font-size: 15px">{% set priceAccompte = (devisInfo.acompte * pricettc) / 100  %} {{ priceAccompte|number_format(2, ',', '') }} €</td>
                </tr>
                <tr>
                    <td>Solde livraison</td>
                </tr>
                <tr>
                    <td style="color: #9b0000">{% set priceSolde = pricettc - priceAccompte  %}{{ priceSolde|number_format(2, ',', '') }} €</td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="width: 65%;color: #9b0000">Signature du Client</td>
        <td style="width: 35%; text-align: right;color: #9b0000">Signature d'entreprise</td>
    </tr>
    <tr>
        <td style="font-weight: normal">(précédée de la mention "bon pour accord")</td>
    </tr>

</table>


</body>
</html>