{% spaceless %}
<html>
<head>
    <style>
        {{ include('admin/calculdevis/pdf/style/top_societe_info_panel_pdf.css') }}
         {{ include('admin/calculdevis/pdf/style/pdf.style.css') }}

    </style>
</head>
<body>
<div class="div_title colred">{{ devis_num }}</div>
{{ include('admin/calculdevis/pdf/top_societe_info_panel_pdf.html.twig') }}
<div></div><div></div>
<table cellspacing="0" cellpadding="0">
    <tr>
        <td class="td_label">Nom </td><td class="td_label1">:</td><td class="td_user_info">{{ devis_info.nom }} {{ devis_info.prenom }}</td>
        <td class="td_label">Catégorie </td><td class="td_label1">:</td><td>{{ devis_info.prestation }}</td>
    </tr>
    <tr>
        <td class="td_label">Téléphone</td><td>:</td><td>{{ devis_info.telephone }}</td>
        <td class="td_label">Transport </td><td class="td_label1">:</td><td>Special</td>
    </tr>
    <tr>
        <td class="td_label">Adresse</td><td>:</td><td>{{ devis_info.cp1 }}</td>
        <td class="td_label">Distance </td><td class="td_label1">:</td><td>120km</td>
    </tr>
    <tr>
        <td class="td_label">Email</td><td>:</td><td>{{ devis_info.email }}</td>
        <td class="td_label">Volume </td><td class="td_label1">:</td><td>{{ devis_info.volume }} m&sup3;</td>
    </tr>
</table>

</body>
</html>
{% endspaceless %}