{% set form = field_description.options.attr.form %}


{% form_theme form 'admin/demandedevis/form/fields.html.twig' %}

{{ form_start(form) }}
    <div class="box-body">
        {{ form_row(form.group1) }}
        {{ form_row(form.group2) }}
        {{ form_row(form.group3) }}
        {{ form_row(form.group4) }}
    </div>

    {{ form_row(form.save) }}
{{ form_end(form) }}
