{% spaceless %}
<ul class="sonata-ba-show-many-to-many">
    <li>
        <div class="atable">
            <span>Carton Name</span>
            <span class="dimension">Dimension</span>
            <span class="count">Nombre</span>
            <span class="prix">Unite</span>
            <span class="prix">Prix</span>
        </div>
    </li>

    {# Get Array JsonCarton from CartonForm #}
    {% set Totalprix = 0 %}
    {% set array_code_carton = object.getCartonJson()|json_decode %}
    {% for element in object.getCarton() %}

    <li>
        <div class="atable">
            <img src="/img/{{ element.getImageCarton()[0].getPath() }}/{{  (element.getImageCarton()[0]).getFileName() }}" />
            <span>{{ element.getNom() }}</span>
            <span class="dimension">{{ element.getDimension() }}</span>
            <span class="count"><i class="fa fa-plus-square"></i> {{ array_code_carton[element.getCodeCarton()].count }}<i class="fa fa-minus-square"></i></span>
            <span class="prix">{{ element.getPrice() }} &euro;</span>
            <span class="prix">{{ array_code_carton[element.getCodeCarton()].prix }} &euro;</span>
            {% set Totalprix = Totalprix + array_code_carton[element.getCodeCarton()].prix %}
        </div>

        {% endfor %}

    </li>

    <li>
        <div class="atable">
            <span></span>
            <span class="dimension"></span>
            <span class="count"></span>
            <span class="prix">Total (ttc)</span>
            <span class="prix">{{ Totalprix }} &euro;</span>
        </div>
    </li>
</ul>
{% endspaceless %}