{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% block sonata_admin_content_actions_wrappers %}
    {#{% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}#}
    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}


        <ul class="nav navbar-nav navbar-right">
            <li>
                {{ _actions|striptags('<a><i>')|raw }}
            </li>
        </ul>


        {#<ul class="nav navbar-nav navbar-right">

            {% if _actions|split('</a>')|length > 2 %}
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        {{ _actions|raw }}
                    </ul>
                </li>
            {% else %}
                {{ _actions|raw }}
            {% endif %}
        </ul>#}
    {% endif %}
{% endblock sonata_admin_content_actions_wrappers %}

{% block tab_menu_navbar_header %}
    {% if _navbar_title is not empty %}
        <div class="navbar-header">
        {#    <div class="navbar-brand" >Date de demande {{ object.CreatedDate|date("m/d/Y") }}</div> #}
        </div>
    {% endif %}
{% endblock %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
           role="button" >
            <i class="fas fa-bars"></i>
        </a>

        <div class="navbar-left">
            {% block sonata_breadcrumb %}
                <div class="hidden-xs">
                    {% if _breadcrumb is not empty or action is defined %}
                        <ol class="nav navbar-top-links breadcrumb">
                            {% if _breadcrumb is empty %}
                                {% if action is defined %}
                                    {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                        {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                        {%- set label = menu.label -%}
                                        {%- if translation_domain is not same as(false) -%}
                                            {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                        {%- endif -%}

                                        {% if not loop.last %}
                                            <li>
                                                {% if menu.uri is not empty %}
                                                    <a href="{{ menu.uri }}">
                                                        {% if menu.extra('safe_label', true) %}
                                                            {{- label|raw -}}
                                                        {% else %}
                                                            {{- label -}}
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    <span>{{ label }}</span>
                                                {% endif %}
                                            </li>
                                        {% else %}
                                            <li class="active"><span>{{ label }}</span></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ _breadcrumb|raw }}
                            {% endif %}
                        </ol>
                    {% endif %}
                </div>
            {% endblock sonata_breadcrumb %}

        </div>
        <div class="navbar-right-logout">
            <ol class="nav navbar-top-links breadcrumb">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}"> Sortir d'identité <i class="fas fa-sign-out-alt"></i></a>
                {% endif %}
                <li>
                    <a href="/logout">
                        <i class="fas fa-running"></i> <span>Se déconnecter</span>
                    </a>
                </li>

            </ol>

        </div>

        {% block sonata_top_nav_menu %}
            {% if app.user and is_granted(sonata_admin.adminPool.getOption('role_admin')) %}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% block sonata_top_nav_menu_add_block %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                {% include get_global_template('add_block') %}
                            </li>
                        {% endblock %}
                        {% block sonata_top_nav_menu_user_block %}
                            <li class="dropdown user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    {% include get_global_template('user_block') %}
                                </ul>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </nav>
{% endblock sonata_nav %}