<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="font-size: 16px; width: 50%;">{{ societeInfo.companyName }}</td>
        <td style="font-size: 14px; width: 50%; text-align: right">{% if societeInfo.website is defined %}{{ societeInfo.website }}{% endif %}</td>
    </tr>

    <tr>
        <td style="width: 50%">{{ societeInfo.street }} <span>   </span><span>{{ societeInfo.codePostal }} {{ societeInfo.city }}</span>
        </td>
        <td style=" width: 50%; text-align: right"> <strong>N SIRET {{ societeInfo.siret }}</strong></td>
    </tr>
    <tr>
        <td><span style="color: #9b0000">Tel :</span> {{ societeInfo.tel }}
            {% if societeInfo.mobile is defined %}
                <span>   </span><span style="color: #9b0000">Por</span> : {{ societeInfo.mobile }}
            {% endif %}

        </td>
        <td style="text-align: right">
            <span>{{ societeInfo.companyEmail }}</span>
        </td>
    </tr>
</table>
