{{ '/public/css/menu/topMenu.html.css'|cssloader }}
{{ '/public/js/menu/topMenu.html.js'|jsloader }}
<div class="header-white">
    <header class="navbar">
        <div class="websitebox">
        {% spaceless %}
            <li><a>Déménagement France<span>Tel.</span><span>06 44 85 17 19</span><span>08 33 25 17 41</span></a></li>
    {% for weight,menu in topmenu %}
        <li><a href="{{ menu.url }}" title="{{ menu.title }}">{{ menu.name|trans }}</a></li>
    {% endfor %}
        {% endspaceless %}
        </div>
    </header>
</div>