{{ '/public/css/menu/topMenu.html.css'|cssloader }}
{{ '/public/js/menu/topMenu.html.js'|jsloader }}
<div class="header-white">
    <header class="navbar">
        <div class="websitebox">
            <ul>
        {% spaceless %}
            <li><a>Déménagement France<span>Tel</span>
                    {% for key,tel in societe.tel %}
                        {% if key <2 %}
                            <span>{{ tel.tel }}</span>
                        {% endif %}
                    {% endfor %}
                </a>


            </li>

    {% for weight,menu in topmenu %}
        <li><a href="{{ menu.url }}" title="{{ menu.title }}">{{ menu.name|trans }}</a></li>
    {% endfor %}
            </ul>
        {% endspaceless %}
        </div>
    </header>
</div>