{% spaceless %}
    {% if app.environment == 'dev' %}<!-- Start {{ _self.getTemplateName() }} -->{% endif %}
    {{ '/public/css/block/footerPage.html.css'|cssloader }}
<footer>
    <div class="contact">

        {% if societe is defined and societe.tel is defined %}
        <h4>{{ 'Contactez nous'|trans }}</h4>
                {% for key,tel in societe.tel %}
                    {% if key <2 %}
                        <span>Telephone : {{ tel.tel }}</span>
                    {% endif %}
                {% endfor %}

                <span>E-Mail : {% if societe.email is defined %}{{ societe.email }}{% endif %}</span>
        <h4>{{ societe.namesociete }}</h4>
                <span>{{ societe.cpville.cp }} {{ societe.cpville.ville }}</span>
                <span>{{ societe.adresse }}</span>
            {% endif %}
    </div>
    <div class="footersocial">
        <h4>{{ 'Nos communautés'|trans }}</h4>

    {% if social is defined %}
        {% for key,value in social %}
            <a target="_blank" rel="nofollow" href="{{ value.socialUrl }}">{{ value.socialIcon|raw }}  {{ value.socialName }}</a>
        {% endfor %}
     {% endif %}
    </div>
    <div class="nosservices">
        <h4>{{ 'Nos Services'|trans }}</h4>
        <span>Devis déménagement sous 48h</span>
        <span>Visite technique</span>
        <span>Garde-Meuble</span>
        <span>Carton déménagement</span>
        <span>Déménagement National</span>
    </div>
    <div class="nospartenaires">
        <h4>{{ 'Nos Partenaires'|trans }}</h4>
    </div>
</footer>
    {% if app.environment == 'dev' %}<!-- End {{ _self.getTemplateName() }} -->{% endif %}
{% endspaceless %}