{% spaceless %}
{% if app.environment == 'dev' %}<!-- Start {{ _self.getTemplateName() }} -->{% endif %}
{{ '/public/css/block/divinfopage.html.css'|cssloader }}
<div class="divinfopage">

 <article>
     <div class="addresscontent">
         {% if societe is defined %}
            <span class="colred">{% if societe.namesociete is defined %}{{ societe.namesociete }}{% endif %}</span>
             <div>{% if societe.adresse is defined %}{{ societe.adresse }}{% endif %}</div>
              <div>{% if societe.cpville.cp is defined %}{{ societe.cpville.cp }} {{ societe.cpville.ville }}{% endif %}</div>
         {% endif %}
        <div class="telephone">
        <i class="fas fa-phone-square"></i>

            {% if societe is defined and societe.tel is defined %}
                {% for key,tel in societe.tel %}
                    {% if key <2 %}
                        <div>{{ tel.tel }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
 </article>
    {% if bande is defined %}
        {% for value in bande %}
            <article>
                <div>
                    {{ value.icon|raw }}
                    <h4>
                        {{ value.title }}
                    </h4>
                    <span>
                        {{ value.description|striptags|truncates(20)  }}
                </span>
                    <div>
                        <a class="lireplus" href="{{ value.url }}">lire plus</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% endif %}

</div>
{% if app.environment == 'dev' %}<!-- End {{ _self.getTemplateName() }} -->{% endif %}
{% endspaceless %}