{{ '/public/css/block/top_body_block.html.css'|cssloader }}
<div class="websitebox">
<div class="top_body_block">

        <div class="sectionleft">
            <h1>Demandez votre devis gratuit, et recevez <br> une offre de prestation adaptée pour votre<br> déménagement par nos partenaires.</h1>
            {% if calculdevisresult is not defined and not null %}
                <h2 class="colred">Estimer le cout de votre déménagement<br>par notre calculateur <u>gratuit et en ligne</u>.</h2>
            {% endif %}
        </div>
        {% if calculdevisresult is defined and calculdevisresult is not null %}
        <div class="topresultdiv">
        <div class="toprow">
            <div class="rows devisresult">
                <strong class="smallstrong">Départ </strong>
                <b class="smallbold">
                    <span>{{ calculdevisresult.cp1 }}</span>
                    Etage : <span>{{ calculdevisresult.etage1 }}</span> Ascenseur : <span>{{ calculdevisresult.ascenseur1 }}</span>
                </b>
            </div>
            <div class="rows devisresult">
                <strong class="smallstrong">Départ </strong>
                <b class="smallbold">
                    <span>{{ calculdevisresult.cp2 }}</span>
                    Etage : <span>{{ calculdevisresult.etage2 }}</span> Ascenseur : <span>{{ calculdevisresult.ascenseur2 }}</span>
                </b>
            </div>
        </div>
        <div class="toprow">
            <div class="rows devisresult">
                <strong class="smallstrong">General</strong>
                <b class="smallbold">
                    <span></span>
                    Prestation : <span>{{ calculdevisresult.prestation }}</span><br />
                    Volume : <span>{{ calculdevisresult.volume }}</span>
                </b>
            </div>

            <div class="rows devisresult">
                <strong class="smallstrong">Résultat</strong>
                <b class="smallbold">
                    <span></span>
                    Prix : <span>823 - 1070 €</span><br />
                    Distance : <span>0 km</span>
                </b>
            </div>

        </div>
            <h1>Le prix me convient, je souhaite obtenir un <u>devis gratuit</u></h1>
        </div>


    {% endif %}

        <div class="sectionright">
            {% include 'form/CalculDevisForm.html.twig' %}
        </div>
    </div>
</div>