{% spaceless %}
    <html>
    <head>
        <style>
            {{ include('admin/calculdevis/pdf/style/top_societe_info_panel_pdf.css') }}
            {{ include('admin/calculdevis/pdf/style/pdf.style.css') }}

        </style>
    </head>
<body>
<div class="div_title colred">LETTRE DE VOITURE  {{ randomName }}<br/><span>(exemplaire chargement) <br/>{{ societe_info.cpville.ville }} {{ "now"|date("d/m/Y") }}</span></div>

{{ include('admin/calculdevis/pdf/top_societe_info_panel_pdf.html.twig') }}

<table>
    <tr>
        <td></td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="td_label">Nom </td><td class="td_label1">:</td><td class="td_user_info">{{ devis_info.nom }} {{ devis_info.prenom }}</td>
        <td class="td_label">Catégorie </td><td class="td_label1">:</td><td class="td_user_info">{{ devis_info.prestation }}</td>
    </tr>
    <tr>
        <td class="td_label">Téléphone</td><td>:</td><td>{{ devis_info.telephone }}</td>
        <td class="td_label">Transport </td><td class="td_label1">:</td><td>Special</td>
    </tr>
    <tr>
        <td class="td_label">Adresse</td><td>:</td><td>{{ devis_info.cp1 }}<br/>{{ devis_info.adresse1 }}</td>
        <td class="td_label">Distance </td><td class="td_label1">:</td><td>{{ distance }}</td>
    </tr>
    <tr>
        <td class="td_label">Email</td><td>:</td><td>{{ devis_info.email }}</td>
        <td class="td_label">Volume </td><td class="td_label1">:</td><td>{{ devis_info.volume }} m&sup3;</td>
    </tr>
</table>

<table cellpadding="20">
    <tr>
        <td></td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td style="width: 350px">
            <div style="font-size: 16px; font-weight: bold; text-transform: uppercase" class="colred">Départ</div>
        </td>
        <td>
            <div style="font-size: 16px; font-weight: bold; text-transform: uppercase" class="colred">Arrivée</div>
        </td>
    </tr>
    <tr>
        <td class="td_label">Date </td><td class="td_label1">:</td><td class="td_user_info">{% if devis_info.date1 is null %}{{ devis_info.date }}{% else %}{{ devis_info.date1 }}{% endif %}</td><td class="td_label">Date </td><td class="td_label1">:</td><td class="td_user_info">{% if devis_info.date2 is null %}{{ devis_info.date1 }}{% else %}{{ devis_info.date2 }}{% endif %}</td>
    </tr>
    <tr>
        <td class="td_label">Adresse</td><td>:</td><td>{% if devis_info.adresse1 is null %}{{ devis_info.cp1  }} {% else %}{{ devis_info.adresse1 }}{% endif %}</td>
        <td class="td_label">Adresse </td><td class="td_label1">:</td><td>{% if devis_info.adresse2 is null %}{{ devis_info.cp2  }}{% else %}{{ devis_info.adresse2 }}{% endif %}</td>
    </tr>
    <tr>
        <td class="td_label">Ville</td><td>:</td><td>{{ devis_info.cp1 }}</td>
        <td class="td_label">Ville</td><td class="td_label1">:</td><td>{{ devis_info.cp2 }}</td>
    </tr>
    <tr>
        <td class="td_label">Etage</td><td>:</td><td>{{ devis_info.etage1 }}</td>
        <td class="td_label">Etage</td><td class="td_label1">:</td><td>{{ devis_info.etage2 }}</td>
    </tr>
    <tr>
        <td class="td_label">Ascenseur</td><td>:</td><td>{{ devis_info.ascenseur1 }}</td>
        <td class="td_label">Ascenseur</td><td class="td_label1">:</td><td>{{ devis_info.ascenseur2 }}</td>
    </tr>

</table>

<table cellpadding="10">
    <tr>
        <td></td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0">
    <tr><td style="font-size: 18px;" class="colred"><b>Assurance comprise</b></td>
    </tr>
    <tr>
        <td>Garantie dommage (franchise de {{ franchise  }} €), valeur globale de {% set number_format_valeur = valeur_globale / 1000 %} {{ number_format_valeur|number_format(3,' ',',') }} € et {{ parobjet }} € maximum par objet non listé. L'opération s'effectue aux conditions générales de vente du contrat de déménagement approuvées par le client.</td>
    </tr>
</table>


    <table>
        <tr>
            <td class="colred" style="font-size: 18px; border-bottom-color:black; border-bottom-style: sold; border-bottom-width: 1px"><b>Observations du chef d'équipe</b></td>
        </tr>
    </table>
    <table  cellpadding="50">
        <tr>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="border-bottom-color:black; border-bottom-style: sold; border-bottom-width: 1px"></td>
        </tr>
    </table>
<table>
    <tr>
        <td></td>
    </tr>
</table>
    <table>
        <tr>
            <td style="border-bottom-color:black; border-bottom-style: dotted; border-bottom-width: 1px">A:</td>
            <td style="border-bottom-color:black; border-bottom-style: dotted; border-bottom-width: 1px">Le:</td>
        </tr>
    </table>
<table cellpadding="0">
    <tr>
        <td></td>
    </tr>
</table>
<table style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 0.15pt;">
    <tr>
        <td><b>Signature du Client</b></td>
        <td style="text-align: right"><b>Signature d'entreprise</b></td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0">
    <tr>
        <td style="font-style: italic; font-size: 12px">(précédée de la mention "bon pour accord")</td>
    </tr>
</table>




{% endspaceless %}