{% set headertext = '
<html>
<body>
<div style="width: 500px; background-color: #f7f3f3;padding-top: 15px; padding-left: 10px; padding-bottom: 20px; padding-right: 10px;">
    <div style="font-size: 22px; color: #c90000; text-transform: uppercase;font-weight: bold;font-family: \'Trebuchet MS\', sans-serif;border-bottom: 1px gray solid;padding-left: 5px;">{{ societe_info.companyName }}</div>
    <div style="text-align: right">
        <div> {{ societe_info.street  }}</div>
        <div> {{ societe_info.codePostal }} {{ societe_info.country }}</div>
    </div>' %}

    {% if societe_info.getIdTelephone['telephone.fix'] is defined %}
        {% for fix in societe_info.getIdTelephone['telephone.fix'] %}
             {% set headertext =  headertext ~ '<span class="colorRed">Téléphone:</span> <span class="colorGreen">'~fix~'</span><br/>' %}
        {% endfor %}
    {% endif %}

    {% if societe_info.getIdTelephone['portable'] is defined %}
        {% for portable in societe_info.getIdTelephone['portable'] %}
           {% set headertext =  headertext ~ '<span class="colorRed">Portable:</span> <span class="colorGreen">'~portable~'</span><br/>' %}
        {% endfor %}
    {% endif %}

{% set headertext =  headertext ~ '</div>' %}

 {% if formatEmail == 'html' %}
     {{ headertext|raw }}
 {% else %}
    {{ headertext|striptags|nl2br }}
 {% endif %}


