<table border="0">
    <tr>
        <td style="width: 220px;"><br/><br/>
            <div style="font-size: 15px; width: 200px; font-weight: bold; text-align: center" class="colorBlue">{{ societeInfo.companyName }}</div><br/>
            <span class="colorBlue">{{ societeInfo.street }}</span><br/>
            {{ societeInfo.codePostal }} {{ societeInfo.country }}<br/>
            <span class="colorRed">Tél:</span> <span class="colorGreen">{{ societeInfo.tel }}</span><br/>
            <span class="colorRed">Tél:</span> <span class="colorBlue">{{ societeInfo.mobile }}</span><br/>
            <span class="colorRed">Mail: {{ societeInfo.companyEmail }}</span>
        </td>

        <td><img style="width: 260px" src="image/pdf/DevisConf4/logoConf4.jpg"></td>
        <td style="text-align: center; width: 200px;">
            <img style="height: 100px" src="image/pdf/DevisConf4/logo1Conf4.jpg"><br/>
            <b style="font-size: 14px;" class="colorBlue">Mme CHABROL CHRISTELLE</b><br/>
            62 AVENUE DE VERDUN
            26000 VALENCE
        </td>
    </tr>
</table>